{% extends "BaseWeb.html" %}

{% block contenido %}

	<section>
		Aun nada
	</section>
	<aside>
		<!--<div class="container">-->
		<!--</div>-->
			<form method="post"> {% csrf_token %}
				<fieldset>
					<legend> Agregar Cita </legend>
					{{ iFrmCitaPaciente }}<br>
					<button type="submit" class="btn btn-primary"> Siguiente </button>
					<a href="#" class="btn btn-danger"> Cancelar </a>
				</fielset>
			</form>
		<!--<div class="container">-->
		<!--</div>-->
	</aside>

{% endblock contenido %}