{% extends "BaseWeb.html" %}

{% block contenido %}

	<section>
		<!--<div class="container">-->
		<!--</div>-->
			<table class="table">
				<thead>
					<tr>
						<th> Descripcion </th>
						<th> Mantenimiento </th>
					</tr>
				</thead>
				<tbody>
					{%for i in iTblEstado%}
						<tr>
							<th>{{i.descripcion_estado}}</th>
							<th>
								<a href="{% url Clinica.views.EditarEstado i.id_estado %}" class="btn">
									Editar
								</a>
								<a href="{% url Clinica.views.EliminarEstado i.id_estado %}" class="btn btn-danger">
									Eliminar
								</a>
							</th>
						</tr>
					{%empty%}
						<tr>
							<th colspan="3"> No hay Estados Agregados </th>
						</tr>
					{%endfor%}
				</tbody>
			</table>
			<a href="{% url Clinica.views.AgregarEstado %}" class="btn btn-primary"> Agregar Estado </a>
		<!--<div class="container">-->
		<!--</div>-->
	</section>
	<aside>
	</aside>

{% endblock contenido %}