{% extends "BaseWeb.html" %}

{% block contenido %}

	<section>
		<!--<div class="container">-->
			<form method="post"> {% csrf_token %}
				<fieldset>
					<legend> Verificar Especialidades del Medico </legend>
					{{ iFrmMedicoE }}<br>
					<button type="submit" class="btn btn-primary"> Buscar </button>
				</fielset>
			</form>
		<!--</div>-->
	</section>
	<aside>
		<!--<div class="container">-->
			<p class="text-left">
				Para verificar las especialidades del medico y agregar mas se necesita
				que ingrese el Documento Unico de Identidad de el Medico.
			</p>
		<!--</div>-->
	</aside>

{% endblock contenido %}